<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<title>Create a user</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<form id="userForm" th:action="@{/(form)}" th:object="${user}"
			action="#" method="post">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<input type="hidden" th:field="*{id}"
				th:class="${#fields.hasErrors('id')} ? 'field-error'" /> <label
				for="username">Username</label> <input type="text"
				th:field="*{username}"
				th:class="${#fields.hasErrors('username')} ? 'field-error'" /> <label
				for="email">Email</label>
			<input type="email" th:field="*{email}"
				th:class="${#fields.hasErrors('email')} ? 'field-error'"/>
			<hr/>
			<div class="form-actions">
				<input type="submit" value="Save" />
			</div>
		</form>
	</div>
</body>
</html>
